.logo{
	width: 100px;
	
	
}
.title{
	font-size: 22px;
	color: #3D58A6;
	margin-top: 20px;
	
}
.banner{
	width: 1200px;
	margin-left: 35px;
	margin-top: 20px;
}
.fb{
	width: 15px;
	margin-left: 30px;
	margin-top: 20px;
}
.tube{
	width: 25px;
	margin-left: 30px;
	margin-top: 30px;
}
.active{
	color: #EE4036;
	
}
.body{
	padding: 35px;
}
.date{
	font-size: 48px;
	color: #fff;
	background-color: #3D58A6;
}
.section{
	margin-top: 45px;
	margin-left: 10px;
}
.tve{
	margin-top: 5px;
}
.satauri{
	font-size: 25px;
	padding-top: 35px;
	padding-left: 30px;
	color:  #EE4036;
}
.surati2{
	margin-top: 30px;
	margin-left: 30px;
	width: 350px;
}
.teqsti{
	font-size: 22px;
	margin-top: 30px;
	margin-left: 30px;
}
.teqsti2{
	padding-top: 30px;
	padding-left: 30px;
	font-size: 22px;
}
.teqsti3{
	padding-top: 35px;
	padding-left: 30px;
	font-size: 18px;
}
	
.section2{
	margin-top: 45px;
	margin-left: 10px;
}
.date2{
	font-size: 48px;
	color: #fff;
	background-color: #3D58A6;
	margin-left: 0px;
}
.tve2{
	margin-top: 5px;
}
.satauri2{
	font-size: 25px;
	padding-top: 35px;
	padding-left: 30px;
	color: #EE4036;
}
.surati3{
	margin-top:30px;
	margin-left: 30px;
	width: 350px; 
}
.teqsti4{
	padding-top: 35px;
	padding-left: 30px;
	font-size: 22px;
}
.teqsti5{
	padding-top: 35px;
	padding-left: 30px;
	font-size: 22px;
}
.teqsti6{
	font-size: 22px;
	padding-left: 30px;
}
.teqsti7{
	font-size: 22px;
	padding-left: 30px;
}
.date3{
	font-size: 48px;
	color: #fff;
	background-color: #3D58A6;

}
.section3{
	margin-top: 45px;
	margin-left: 10px;
}
.tve3{
	margin-top: 5px;
}
.satauri3{
	font-size: 25px;
	padding-top: 35px;
	padding-left: 30px;
	color: #EE4036;
}
.surati4{
	margin-top: 30px;
	margin-left: 30px;
	width: 350px;
}
.teqsti8{
	font-size: 22px;
	padding-left: 30px;
	padding-top: 30px;
}
.teqsti9{
	font-size: 20px;
	padding-left: 30px;
	padding-top: 35px;
}
.fb2{
	width: 15px;
	margin-left: 30px;
	margin-top: 20px;
}
.tube2{
	width: 25px;
	margin-top: 100px;
	margin-left: 50px;
}
.address{
	font-size: 25px;
	margin-top: 35px;
	color: darkorange;

}
.address2{
	width: 500px;
	margin-top: 20px;
}